@import url(./index.css);

@media (min-width: 768px) {
  .pattern-1 {
    width: 266px;
    height: 400px;

    margin-top: -30px;
    margin-right: -30px;

    display: block;
    float: right;
  }

  .hero {
    background-image: none;
  }

  body {
    background-image: url(../assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-size: 1100px 1100px;
    background-position: top -220px left -280px;
  }

  .hero-container {
    max-width: 768px;
    padding-left: 40px;
  }

  .hero-logo {
    margin: 60px 0 0 0;
  }

  .hero-article {
    margin: 95px 0 0 0;
    padding-bottom: 100px;
  }

  .hero-article-heading {
    width: 520px;
    margin-bottom: 28px;
  }

  .hero-article-p {
    width: 514px;
  }

  .preview {
    max-width: 696px;
    height: 930px;

    margin: 30px auto 0 auto;

    align-items: flex-start;
    justify-content: flex-start;
  }

  .preview-app {
    margin-left: 50px;
  }

  .preview-background-container {
    max-width: 696px;
    height: 600px;

    margin-top: -420px;
  }

  .preview-background {
    position: relative;
    top: -50px;
  }

  .app {
    width: 270px;
    height: 556px;
  }

  .preview-plan {
    max-width: 399px;
    height: 546px;

    margin-top: -450px;
    margin-left: 235px;

    z-index: 2;
  }

  .footer {
    max-width: 696px;
    margin: 10px auto 64px auto;
    padding-left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .footer-article-p {
    width: 350px;
  }

  .footer-icons {
    width: 100px;

    margin: 64px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
